:root
{
    color-scheme: only light;
}

.header
{
    background-color: #00000084;
    height: 100px;
    backdrop-filter: blur(3px);
}

#proyecto
{
    background-color: #00000030;
}

#hero-text
{
    color: white;
    text-shadow: 3px 3px 6px #000000;
}

.swiper-button-next,
.swiper-button-prev
{
    color: #aaa !important;
    opacity: 0.6;
    transition: opacity 0.2s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover
{
    color: #000000 !important;
    opacity: 1;
    /* más visibles al pasar el mouse */
}

.swiper-pagination-bullet-active
{
    background-color: #000000 !important;
    opacity: 1 !important;

}

.no-select
{
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.swiper-slide img
{
    pointer-events: none;
    /* opcional: evita arrastrar la imagen */
}

.fondo-zoom
{
    animation: zoomInOut 45s ease-in-out infinite;
    object-fit: cover;
    object-position: center;
    will-change: transform, object-position;
}

/* Zoom suave */
@keyframes zoomInOut
{
    0%
    {
        transform: scale(1);
        object-position: center;
    }

    25%
    {
        transform: scale(1.2);
        object-position: left;
    }

    75%
    {
        transform: scale(1.2);
        object-position: right;
    }

    100%
    {
        transform: scale(1);
        object-position: center;
    }
}

.desaparecer
{
    animation: fadeOut 20s forwards;
}

@keyframes fadeOut
{
    0%
    {
        opacity: 1;
    }

    90%
    {
        opacity: 1;
    }

    100%
    {
        opacity: 0;
    }
}