@import "tailwindcss";

:root
{
    color-scheme: light;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}

.borde-arr
{
    border-top: 2px solid #c09c6f;
}

#hero-text
{
    color: white;
    text-shadow: 3px 3px 6px #000000;
}

.swiper-button-next,
.swiper-button-prev
{
    color: #aaa !important;
    opacity: 0.6;
    scale: 1.25;
    font-size: 300rem;
    /* tamaño general de la flecha */
    font-weight: 1000;
    transition: opacity 0.2s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover
{
    color: #DCC4A3 !important;
    opacity: 1;
    /* más visibles al pasar el mouse */
}

.swiper-pagination-bullet-active
{
    background-color: #000000 !important;
    opacity: 1 !important;
}

/* Forzar visibilidad de botones en toolbar */
.lg-toolbar
{
    opacity: 1 !important;
    visibility: visible !important;
    transition: none !important;
}

.no-select
{
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.swiper-slide img
{
    user-select: none;
    -webkit-user-drag: none;
    transition: transform 0.3s ease;
    display: inline-block;
    /* opcional: evita arrastrar la imagen */
}

.fondo-zoom
{
    animation: zoomInOut 15s ease-in-out infinite;
    object-fit: cover;
    will-change: transform;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hidden-flecha
{
    display: none !important;
}

.show-flecha
{
    display: block !important;
}

@keyframes zoomInOut
{
    0%
    {
        transform: scale(1);
        transform-origin: left center;
    }

    25%
    {
        transform: scale(1.4);
        transform-origin: left center;
    }

    50%
    {
        transform: scale(1.4);
        transform-origin: right center;
    }

    75%
    {
        transform: scale(1.2);
        transform-origin: center center;
    }

    100%
    {
        transform: scale(1);
        transform-origin: center center;
    }
}

.desaparecer
{
    animation: fadeOut 20s forwards;
}

@keyframes fadeOut
{
    0%
    {
        opacity: 1;
    }

    90%
    {
        opacity: 1;
    }

    100%
    {
        opacity: 0;
    }
}

.bg-overlay
{
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}